/* General styles */
#react-data-table,
.row,
select,
input {
  color: #172a43;
  background-color: #cae2ff;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

p, ul, ol {
  font-size: large;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

body {
  background-color: #172a43;
  color: #172a43;
}

/* Table styles */
.table {
  width: 200%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #cae2ff;
}

.table th,
.table td {
  border: 5px solid #cae2ff;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  color: #172a43;
}

.table th {
  background-color: #172a43;
  color: white;
}

.table td:nth-child(even) {
  background-color: #f4f4f4;
}

.table td:hover {
  background-color: #cae2ff;
}

/* Responsive styles for table */
.table-responsive {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 600px; /* Adjusted for better responsiveness */
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #172a43;
  z-index: 1;
  text-align: center;
}

/* Styles for first cell in each row */
.table th:first-child,
.table td:first-child {
  text-align: center;
}

/* Styles for form elements in container */
.container select,
.container input {
  padding: 5px;
  margin: 5px;
  border: 5px solid #172a43;
  border-radius: 15px;
  color: #172a43;
  background-color: white;
  margin: 0 auto;
}

/* Responsive styles for smaller screens
@media screen and (max-width: 600px) {
  .table th,
  .table td {
    display: block;
    width: 100%;
  }
} */

#filter-header {
  text-align: center;
  margin: 0 auto;
}

#cohort-number {
  display: flex;
  margin: 0 auto;
}

#homeButton,
#hamburger {
   padding: 15px;
   padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}
/* Hamburger Icon */
#hamburger {
  cursor: pointer;
  /* other styles... */
}

/* Navigation Menu */
nav#navMenu {
  background-color: #fff; /* Adjust color as needed */
  border: 1px solid #ddd; /* Optional border */
  position: absolute; /* Positioning */
  top: 60px; /* Adjust based on the position of the hamburger icon */
  right: 10px; /* Adjust as needed */
  width: 200px; /* Adjust width as needed */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional shadow for a pop-up effect */
  z-index: 1000; /* Ensure it's above other content */
}

nav#navMenu h6 {
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid #ddd; /* Optional */
}

nav#navMenu h6:last-child {
  border-bottom: none;
}

/* Responsive adjustments
@media (max-width: 768px) {
  /* Adjustments for smaller screens 
  nav#navMenu {
      width: 100%;
      top: 50px; 
      right: 0;
  }
  .table, .table-responsive, .container {
    width: 100%;
  }
} */

/* Hover effects for menu items */
nav#navMenu a h6:hover {
  background-color: #172a43; /* Adjust hover color as needed */
  color: #fff;
}

#memes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjusts the spacing around items */
  text-align: center;
}

#memes img {
  flex: 1;
  max-width: 100%; /* Ensures images don't overflow their container */
  height: auto; /* Maintains aspect ratio */
  margin: 5px; /* Optional: Adds some space between images */
  margin-left: auto;
  margin-right: auto;
}

#image-track > .image {
  width:auto;
  height: 60vmin;
  object-fit: cover;
  object-position: center;
  user-select: none;
  padding:5vmin;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: auto;
  transform: translate(0%, -50%);
}

h1 {
  text-align: center;
}

#gallery-text {
  text-align: center;
}

#header-text {
  text-align: center;
  padding: 15px;
  font-family: monospace;
}

.checkbox-container {
  display: flex;
  flex-direction: column; /* Aligns items horizontally */
  justify-content: flex-start; /* Aligns items to the left */
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  gap: 10px; /* Adjust the spacing between checkboxes */
  padding:15px;
}

.checkbox-label {
  display: flex;
  align-items: center; /* Aligns checkbox and label text vertically */
}

