/* General styles */
#react-data-table,
.row,
select,
input {
  color: #172a43;
  background-color: #cae2ff;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

p, ul, ol {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 95%;
}

body {
  background-color: #172a43;
  color: #172a43;
}

/* Table styles */
.table {
  width: 200%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #cae2ff;
}

.table th,
.table td {
  border: 5px solid #cae2ff;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  color: #172a43;
}

.table th {
  background-color: #172a43;
  color: white;
}

.table td:nth-child(even) {
  background-color: #f4f4f4;
}

.table td:hover {
  background-color: #cae2ff;
}

.table-responsive {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 600px;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #172a43;
  z-index: 1;
  text-align: center;
}

.table th:first-child,
.table td:first-child {
  text-align: center;
}

.container select,
.container input {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 5px solid #172a43;
  border-radius: 2rem;
  color: #172a43;
  background-color: white;
  margin: 0 auto;
}

#filter-header {
  text-align: center;
  margin: 0 auto;
}

#cohort-number {
  display: flex;
  margin: 0 auto;
}

#homeButton,
#hamburger {
   padding: 15px;
   padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
}

#hamburger {
  cursor: pointer;
}


nav#navMenu {
  background-color: #fff; 
  border: 1px solid #ddd; 
  position: absolute; 
  top: 60px; 
  right: 10px; 
  width: 200px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  z-index: 1000;
}

@media (max-width: 768px) {
  nav#navMenu {
    width: 100%;
    top: 50px;
    right: 0;
  }
  .container {
    width: 100%; /* Full width on small screens */
  }
}

nav#navMenu h6 {
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

nav#navMenu h6:last-child {
  border-bottom: none;
}

nav#navMenu a h6:hover {
  background-color: #172a43;
  color: #fff;
}

#memes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

#memes img {
  flex: 1;
  max-width: 100%; 
  height: auto;
  margin: 0.5rem auto; 
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: auto;
  transform: translate(0%, -50%);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vmin;
}

.image-container .image {
  width: auto;
  height: 60vmin;
  object-fit: cover;
  object-position: center;
  user-select: none;
}

.image-metadata {
  text-align: center;
  margin-top: 1vmin;
}

.image-metadata p {
  margin: 0;
  padding: 0;
  font-size: smaller; /* Adjust the font size as needed */
}


h1 {
  text-align: center;
}

#gallery-text {
  text-align: center;
}

#header-text {
  text-align: center;
  padding: 15px;
  font-family: "Space Mono", monospace;
}

.checkbox-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding:15px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

#graph1-container, #graph2-container {
  overflow: hidden;
}

#graph1 svg {
  transition: transform 0.5s ease;
}

#graph1 svg:hover {
  transform: scale(1.5); /* Adjust the scale value as needed */
  transform-origin: center; /* Ensure zoom centers on the SVG itself */
}

#header-text {
  animation-name: roygbiv;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes roygbiv {
  0%, 100% {color: #7f2f2f;}
  12% {color: #815b31;} 
  25% {color: #848431;} 
  37% {color: #2e7b2e;} 
  50% {color: #284974;} 
  62% {color: #4f2975;} 
  75% {color: #742774;} 
  87% {color: #6c2832;} 
}